.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-xs {
    width: 6px;
    height: 6px;
}

.icon-xsm {
    width: 16px;
    height: 16px;
}

.icon-sm {
    width: 20px;
    height: 20px;
}

.icon-md {
    width: 24px;
    height: 24px;
}

.icon-logo {
    width: 30px;
    height: 35px;
}

.icon-aster-news {
    background-image: url(/assets/images/aster-news.png);
}

.icon-home {
    background-image: url(/assets/images/home.svg);
}

.icon-globe {
    background-image: url(/assets/images/globe.svg);
}

.icon-breifcase {
    background-image: url(/assets/images/briefcase.svg);
}

.icon-health {
    background-image: url(/assets/images/activity.svg);
}

.icon-covid19 {
    background-image: url(/assets/images/covid.svg);
}

.icon-entertaintment {
    background-image: url(/assets/images/play-circle.svg);
}

.icon-sports {
    background-image: url(/assets/images/sports.svg);
}

.icon-discussion {
    background-image: url(/assets/images/message.svg);
}

.icon-notification {
    background-image: url(/assets/images/bell.svg);
}

.icon-setting {
    background-image: url(/assets/images/settings.svg);
}

.icon-gift {
    background-image: url(/assets/images/gift.svg);
}

