

.grid-box {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    width: 1940px;
    height: 1440px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-box > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 {
    width: 260px;
    height: 900px;

  }

  .item2 {
    width: 860px;
    height: 1940px;
  }

  .item3 {
    width: 320px;
    height: 960px;
  }