body html {
    width: 100%;
    background-color: #F4F9F8;
  }

  .container {
    margin: 0 auto;
  }

.grid-box {
    display: grid;
    grid-template-columns: 260px 860px 320px;
    gap: 10px;
    width: 1940px;
    height: 1440px;
    padding: 10px;
  }
  
  .grid-box > div {
    background-color: #F4F9F8;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 {
    width: 260px;
    height: 900px;

  }

  .navbar {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    color: var(--amberBlack);
  }

  .navbar .navbar-link:nth-child(2) {
    color: var(--SkyBlue);
    padding-left: 25px;
  }

  .navbar-link {
    display: flex;
    padding-left: 33px;
    height: 50px;
  }

  .premium-box {
    width: 230px;
    height: 110px;
    display: flex;
    flex-direction: column;
    background-color: var(--SkyBlue);
    border-radius: 10px;
    padding-right: 20px;
  }

  .premium-box a {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
  }

  .premium-box div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .premium-box span {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
  }

  .dollar8 span:first-child {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;

  }

  .upgrade-btn {
    width: 110px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0768B5;
  }

  .premium-box button {
    color: #fff;
    border-radius: 5px;
  }

  .head-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .head-search div {
    display: flex;
    align-items: center;
  }

  .search-box {
    padding-left: 50px;
  }

  .search-box input {
    width: 500px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/assets/images/search.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    
  }

  .navbar2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  .navbar2 button {
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
  }

  .navbar2 button:first-child {
    background-color: var(--blue-btn);
    width: 52px;
  }

  .page-right {
    background-color: red;
  }